{include file="../application/index/view/common/head.html" /}
	<!-- 顶部tab -->
	{include file="../application/index/view/common/tab.html" /}
	<!-- 顶部标题 -->
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="index.html"><img src="/static/index/images/icons/logo.jpg" alt="出卷网" class="cover"></a>
				<div class="title">个人中心</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			<div class="pull-left bgf">
				<a href="udai_welcome.html" class="title">U袋欢迎页</a>
				<dl class="user-center__nav">
					<dt>帐户信息</dt>
					<a href="udai_setting.html"><dd>个人资料</dd></a>
					<a href="udai_treasurer.html"><dd>资金管理</dd></a>
					<a href="udai_integral.html"><dd>积分平台</dd></a>
					<a href="udai_address.html"><dd>收货地址</dd></a>
					<a href="udai_coupon.html"><dd>我的优惠券</dd></a>
					<a href="udai_paypwd_modify.html"><dd>修改支付密码</dd></a>
					<a href="udai_pwd_modify.html"><dd>修改登录密码</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>订单中心</dt>
					<a href="udai_order.html"><dd class="active">我的订单</dd></a>
					<a href="udai_collection.html"><dd>我的收藏</dd></a>
					<a href="udai_refund.html"><dd>退款/退货</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>服务中心</dt>
					<a href="udai_mail_query.html"><dd>物流查询</dd></a>
					<a href=""><dd>数据自助下载</dd></a>
					<a href="temp_article/udai_article1.html"><dd>售后服务</dd></a>
					<a href="temp_article/udai_article2.html"><dd>配送服务</dd></a>
					<a href="temp_article/udai_article3.html"><dd>用户协议</dd></a>
					<a href="temp_article/udai_article4.html"><dd>常见问题</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>新手上路</dt>
					<a href="temp_article/udai_article5.html"><dd>如何成为代理商</dd></a>
					<a href="temp_article/udai_article6.html"><dd>代销商上架教程</dd></a>
					<a href="temp_article/udai_article7.html"><dd>分销商常见问题</dd></a>
					<a href="temp_article/udai_article8.html"><dd>付款账户</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>出卷网</dt>
					<a href="temp_article/udai_article10.html"><dd>企业简介</dd></a>
					<a href="temp_article/udai_article11.html"><dd>加入U袋</dd></a>
					<a href="temp_article/udai_article12.html"><dd>隐私说明</dd></a>
				</dl>
			</div>
			<div class="pull-right">
				<div class="user-content__box clearfix bgf">
					<div class="title">订单中心-商品评价</div>
					<div class="evaluate_box">
						<div class="evaluate_info posr clearfix">
							<div class="img"><img src="/static/index/images/temp/M-001.jpg" alt="" class="cover"></div>
							<div class="name ep2">峥嵘 原创设计 传统日常汉服男绣花唐制圆领袍春秋非古装 峥嵘 原创设计 传统日常汉服男绣花唐制圆领袍春秋非古装</div>
							<div class="param">
								<div class="param-row"><span class="param-label">价格</span><b class="cr fz24">18.00</b><span class="cr">元</span></div>
								<div class="param-row"><span class="param-label">销量</span><span class="c6 fz20">1688</span></div>
								<div class="param-row"><span class="param-label">评价</span><span class="c6 fz20">1688</span></div>
								<div class="param-row"><span class="param-label">好评率</span><span class="c6 fz20">95.87%</span></div>
							</div>
							<div class="info c6">
								颜色分类：深棕色<br> 
								尺码：均码<br>
								现在查看的是您所购商品的信息 于2017年08月11日 20:31下单购买了此商品
							</div>
						</div>
					</div>
					<p class="fz18 cr">商品评价</p>
					<div class="modify_div">
						<form action="" class="evaluate-form__box">
							<span class="help-block">快评论一番，让其他买家开开眼</span>
							<table class="table table-bordered">
								<tr>
									<th scope="row">评价等级</th>
									<td class="user-form-group fz0">
										<label><input name="opinion" value="G" checked="" type="radio"><i class="iconfont icon-radio"></i> <span>好评</span></label>
										<label><input name="opinion" value="N" type="radio"><i class="iconfont icon-radio"></i> <span>中评</span></label>
										<label><input name="opinion" value="B" type="radio"><i class="iconfont icon-radio"></i> <span>差评</span></label>
									</td>
								</tr>
								<tr>
									<th scope="row">评价商品</th>
									<td><textarea rows="5" placeholder="请输入您对该商品的评价~"></textarea></td>
								</tr>
								<tr valign="middle">
									<th scope="row">晒图片</th>
									<td>
										<ul class="uploader__files"></ul>
										<div class="uploader__input"></div>
										<div class="uploader__size"><span class="cr">0</span>/5</div>
									</td>
								</tr>
							</table>
							<div class="checkbox">
								<label><input type="checkbox"><i></i> 匿名评价</a></label>
								<button type="submit" class="but pull-right">提交评价</button>
							</div>
							<script>
								$(document).ready(function(){
									var tmpl = '<li class="uploader__file"><input name="i[]" accept="image/*" type="file"><i>&times;</i></li>',
										$uploader_files = $('.uploader__files'),
										$uploader_input = $('.uploader__input'),
										$uploader_size = $('.uploader__size span');
									$uploader_input.on('click',function() {
										var size = $uploader_files.find('li').length;
										if (size >= 5) {return DJMask.msg("最多上传5张图片！");}
										var $input = $(tmpl);
										$uploader_files.append($input);
										$uploader_size.html(size + 1);
										$input.on('click','i',function() {
											$(this).parent().remove();
											$uploader_size.html($uploader_files.find('li').length);
										});
										$input.on('change','input',function(e) {
											var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files, that = this;
											for (var i = 0, len = files.length; i < len; ++i) {
												var file = files[i];
												if (url) {
													src = url.createObjectURL(file);
												} else {
													src = e.target.result;
												}
												$input.css({'background-image':'url('+src+')'}).addClass('active');
											}
										});
										$input.find('input').click();
									})
								});
							</script>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
{include file="../application/index/view/common/right.html" /}
{include file="../application/index/view/common/footer.html" /}