{include file="../application/index/view/common/header.html" /}


	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			</div>
			<ul class="nva-list">
				<a href="{:url('index/login')}"><li>首页</li></a>
				<a href={:url('temp_article/udai_article10')}><li>企业简介</li></a>
				<a href="{:url('temp_article/udai_article5')}"><li>新手上路</li></a>
				<a href="{:url('index/class_room')}"><li>U袋学堂</li></a>
				<a href="{:url('index/enterprise_id')}"><li>企业账号</li></a>
				<a href="{:url('index/udai_contract')}"><li class="active">诚信合约</li></a>
				<a href="{:url('index/item_remove')}"><li>实时下架</li></a>
			</ul>
		</div>
	</div>
	<div class="content inner">
		<section class="panel__div clearfix">
			<div class="filter-value">
				<div class="filter-title">诚信合约</div>
			</div>
			<div class="html-code">
				<p>这里是合约内容说明</p>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
{include file="../application/index/view/common/right.html" /}
{include file="../application/index/view/common/footer.html" /}