{include file="../application/index/view/common/header.html" /}
	<!-- 顶部tab -->
	
	<!-- 顶部标题 -->
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="{:url('index/login')}"><img src="__INDEX__IMG__/icons/logo.jpg" alt="出卷网" class="cover"></a>
				<div class="title">个人中心</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			<div class="pull-left bgf">
				
				<dl class="user-center__nav">
					<dt>帐户信息</dt>
					<a href="{:url('index/udai_setting')}"><dd>个人资料</dd></a>
					<a href="udai_treasurer.html"><dd>资金管理</dd></a>
					<a href="udai_integral.html"><dd>积分平台</dd></a>
					<a href="{:url('index/udai_address')}"><dd>收货地址</dd></a>
					<a href="{:url('index/udai_coupon')}"><dd>我的优惠券</dd></a>
					<a href="udai_paypwd_modify.html"><dd class="active">修改支付密码</dd></a>
					<a href="udai_pwd_modify.html"><dd>修改登录密码</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>订单中心</dt>
					<a href="udai_order.html"><dd>我的订单</dd></a>
					<a href="{:url('index/udai_collection')}"><dd>我的收藏</dd></a>
					<a href="udai_refund.html"><dd>退款/退货</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>服务中心</dt>
					<a href="udai_mail_query.html"><dd>物流查询</dd></a>
					<a href=""><dd>数据自助下载</dd></a>
					<a href="{:url('temp_article/udai_article1')}"><dd>售后服务</dd></a>
					<a href="{:url('temp_article/udai_article2')}"><dd>配送服务</dd></a>
					<a href="{:url('temp_article/udai_article3')}"><dd>用户协议</dd></a>
					<a href="{:url('temp_article/udai_article4')}"><dd>常见问题</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>新手上路</dt>
					<a href="{:url('temp_article/udai_article5')}"><dd>如何成为代理商</dd></a>
					<a href="{:url('temp_article/udai_article6')}"><dd>代销商上架教程</dd></a>
					<a href="{:url('temp_article/udai_article7')}"><dd>分销商常见问题</dd></a>
					<a href="{:url('temp_article/udai_article8')}"><dd>付款账户</dd></a>
				</dl>
				<dl class="user-center__nav">
					<dt>出卷网</dt>
					<a href={:url('temp_article/udai_article10')}><dd>企业简介</dd></a>
					<a href="{:url('temp_article/udai_article11')}"><dd>加入U袋</dd></a>
					<a href="{:url('temp_article/udai_article12')}"><dd>隐私说明</dd></a>
				</dl>
			</div>
			<div class="pull-right">
				<div class="user-content__box clearfix bgf">
					<div class="title">账户信息-修改支付密码</div>
					<div class="modify_div">
						<div class="clearfix">
							<a href="udai_modifypay_step1.html" role="button" class="but">修改支付密码</a>
							<a href="udai_modifypay_step1.html" role="button" class="but">忘记支付密码</a>
						</div>
						<div class="help-block">随时都能更改密码，保障您账户余额支付的安全</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
{include file="../application/index/view/common/right.html" /}
{include file="../application/index/view/common/footer.html" /}