{include file="../application/index/view/common/header.html" /}


	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			</div>
			<ul class="nva-list">
				<a href="{:url('index/login')}"><li>首页</li></a>
				<a href={:url('temp_article/article10')}><li>企业简介</li></a>
				<a href="{:url('temp_article/article5')}"><li>新手上路</li></a>
				<a href="{:url('index/class_room')}"><li>U袋学堂</li></a>
				<a href="{:url('index/enterprise_id')}"><li>企业账号</li></a>
				<a href="{:url('index/contract')}"><li>诚信合约</li></a>
				<a href="{:url('index/item_remove')}"><li class="active">实时下架</li></a>
			</ul>
		</div>
	</div>
	<div class="content inner">
		<section class="panel__div clearfix">
			<div class="filter-value">
				<div class="filter-title">下架通知</div>
			</div>
			<div class="html-code">
				<p><span style="color: #b31e22">9月18日下架货号</span>：A100、RHW-083#、6912、RZ-JCT21、K601、WBX 4301#<br><span style="color: #b31e22">9月14日下架货号</span>：P5.CL.519533、P5.CL.519551、R9017、OML6094<br><span style="color: #b31e22">9月13日下架货号</span>：XN02、S-01、nx368425、1705、X02-570、8736#、HB565#、1404159368422、RZ-JH2234、sq668<br><span style="color: #b31e22">9月11日下架货号</span>：dkD66、2008、SQA3F9、1782#、OML6327、1110、<br><span style="color: #b31e22">9月8日下架货号</span>：P5.CL.519095、1078122、TT 7419#、Y-271、T3883、k197<br><span style="color: #b31e22">9月5日下架货号</span>：A140-1-TT46-65、1078391、1506-2、A408-T571-60、NZF-928#、C156-1、C144-1、C142-1、C140-1、C126-1、C123-1、C120-1</p>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
{include file="../application/index/view/common/right.html" /}
{include file="../application/index/view/common/footer.html" /}