	<!-- 底部信息 -->
	<div class="footer">
		<div class="footer-links inner">
			<dl>
				<dt>出卷网</dt>
				<a href="{:url('serve/article10')}"><dd>企业简介</dd></a>
				<a href="{:url('serve/article11')}"><dd>加入U袋</dd></a>
				<a href="{:url('serve/article12')}"><dd>隐私说明</dd></a>
				<a href="{:url('index/agent_level')}"><dd>网店代销</dd></a>
				<a href="{:url('index/class_room')}"><dd>U袋学堂</dd></a>
				<a href="{:url('index/about')}"><dd>联系我们</dd></a>
				<a href="{:url('serve/article1')}"><dd>售后服务</dd></a>
				<a href="{:url('serve/article2')}"><dd>配送服务</dd></a>
				<a href="{:url('serve/article3')}"><dd>用户协议</dd></a>
				<a href="{:url('index/welcome')}"><dd>常见问题</dd></a>
			</dl>
			<dl>
				组卷网(ZUJUAN.COM)是一个基于百万量级中小学题库上实现的在线组卷网，试卷涵盖全国中小学各版本教材，试题质量高、更新快，是深受中小学教师喜爱的组卷平台，分为：数学组卷、语文组卷、英语组卷、物理组卷、历史组卷等学科组卷频道，提供手工、智能、平行组卷，助力您的教学
			</dl>
		</div>
		<div class="copy-box clearfix">
			<!-- 版权 -->
			<p class="copyright">
				© <?php echo date("Y",time());?> 出卷网 版权所有，并保留所有权利<br>
				ICP备案证书号：京ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;北京市海淀区骚子营三区1101室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 648049522&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 648049522@qq.com
			</p>
		</div>
	</div>
	</body>
</html>