<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="__INDEX__CSS__/iconfont.css">
	<link rel="stylesheet" href="__INDEX__CSS__/global.css">
	<link rel="stylesheet" href="__INDEX__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__CSS__/bootstrap-theme.min.css">
	<link rel="stylesheet" href="__INDEX__CSS__/swiper.min.css">
	<link rel="stylesheet" href="__INDEX__CSS__/styles.css">
	<script src="__INDEX__JS__/jquery.1.12.4.min.js" charset="UTF-8"></script>
	<script src="__INDEX__JS__/bootstrap.min.js" charset="UTF-8"></script>
	<script src="__INDEX__JS__/swiper.min.js" charset="UTF-8"></script>
	<script src="__INDEX__JS__/global.js" charset="UTF-8"></script>
	<script src="__INDEX__JS__/jquery.DJMask.2.1.1.js" charset="UTF-8"></script>
	<title>出卷网</title>
</head>
<body>

	<!-- 顶部tab -->
	<div class="tab-header">
		<div class="inner">
			<div class="pull-left">
				<div class="pull-left">嗨，欢迎来到<span class="cr"><a href="{:url('index/index')}">出卷网</a></span></div>
				<a href="{:url('index/welcome')}" target="_blank">帮助中心</a>
			</div>
			<div class="pull-right">
				<a href="{:url('index/login')}" target="_blank"><span class="cr">登录</span></a>
				<a href="{:url('index/login')}" target="_blank">注册</a>
				<a href="{:url('index/welcome')}" target="_blank">个人中心</a>
			</div>
		</div>
	</div>


	<div class="top-search">
	<div class="inner">
		<a class="logo" href="{:url('index/login')}"><img src="__INDEX__IMG__/icons/logo.jpg" alt="出卷网" class="cover"></a>
		<div class="search-box">
			<form class="input-group">
				<input placeholder="Ta们都在搜出卷网" type="text">
				<span class="input-group-btn">
					<button type="button">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</span>
			</form>
			<p class="help-block text-nowrap">
				<a href="">连衣裙</a>
				<a href="">裤</a>
				<a href="">衬衫</a>
				<a href="">T恤</a>
				<a href="">女包</a>
				<a href="">家居服</a>
				<a href="">2017新款</a>
			</p>
		</div>
		<div class="cart-box">
			<a href="{:url('index/shopcart')}" class="cart-but">
				<i class="iconfont icon-shopcart cr fz16"></i> 试题车 0 
			</a>
		</div>
	</div>
	</div>
	<div class="top-nav bg3">
	<div class="nav-box inner">
		<div class="all-cat">
			<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			<!--<div class="cat-list__box">
				<div class="cat-box">
					<div class="title">
						<i class="iconfont icon-skirt ce"></i> 小学
					</div>
					<ul class="cat-list clearfix">
						<li><a href="">语文</a></li>
						<li><a href="">数学</a></li>
						<li><a href="">英语</a></li>
						<li><a href="">科学</a></li>
						<li><a href="">政治思品(道德与法治)</a></li>
					</ul>
				</div>
				<div class="cat-box">
					<div class="title">
						<i class="iconfont icon-fushi ce"></i> 初中
					</div>
					<ul class="cat-list clearfix">
						<li><a href="">语文</a></li>
						<li><a href="">数学</a></li>
						<li><a href="">英语</a></li>
						<li><a href="">科学</a></li>
						<li><a href="">物理</a></li>
						<li><a href="">化学</a></li>
						<li><a href="">历史</a></li>
						<li><a href="">政治思品(道德与法治)</a></li>
						<li><a href="">地理</a></li>
						<li><a href="">生物</a></li>
						<li><a href="">信息技术</a></li>
						<li><a href="">历史与社会(人文地理)</a></li>
						<li><a href="">社会思品</a></li>
					</ul>
				</div>
				<div class="cat-box">
					<div class="title">
						<i class="iconfont icon-bao ce"></i> 高中
					</div>
					<ul class="cat-list clearfix">
						<li><a href="">语文</a></li>
						<li><a href="">数学</a></li>
						<li><a href="">英语</a></li>
						<li><a href="">科学</a></li>
						<li><a href="">物理</a></li>
						<li><a href="">化学</a></li>
						<li><a href="">历史</a></li>
						<li><a href="">政治思品(道德与法治)</a></li>
						<li><a href="">地理</a></li>
						<li><a href="">生物</a></li>
						<li><a href="">信息技术</a></li>
						<li><a href="">历史与社会(人文地理)</a></li>
						<li><a href="">社会思品</a></li>
					</ul>
				</div>
			</div>-->
		</div>
		<ul class="nva-list">
			<a href="{:url('index/index')}"><li class="active">首页</li></a>
			<a href="{:url('shoudong/zhishidian')}"><li>手动出卷</li></a>
			<a href="{:url('zhineng/zhishidian')}"><li>自动出卷</li></a>
			<a href="{:url('index/class_room')}"><li>试卷库</li></a>
		</ul>
	</div>
	</div>