{include file="../application/index/view/common/header.html" /}

	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			</div>
			<ul class="nva-list">
				<a href="{:url('index/login')}"><li>首页</li></a>
				<a href="{:url('index/article10')}"><li>企业简介</li></a>
				<a href="{:url('index/article5')}"><li>新手上路</li></a>
				<a href="{:url('index/class_room')}"><li>U袋学堂</li></a>
				<a href="{:url('index/enterprise_id')}"><li class="active">企业账号</li></a>
				<a href="{:url('index/contract')}"><li>诚信合约</li></a>
				<a href="{:url('index/item_remove')}"><li>实时下架</li></a>
			</ul>
		</div>
	</div>
	<div class="content inner">
		<section class="panel__div clearfix">
			<div class="filter-value">
				<div class="filter-title">企业账号</div>
			</div>
			<div class="html-code">
				<p>
					<b>平台指定企业账号：</b><br>
					<table border="0">
						<tr>
							<td><p>fzxinghuiwlkj@163.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
						<tr>
							<td><p>fzxinghui@163.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
						<tr>
							<td><p>fzxhwangluo@126.com</p></td>
							<td><p style="text-indent: 3em">用户名：福州星辉网络科技有限公司</p></td>
						</tr>
					</table>
				</p>
				<p><br></p>
				<p>如有遇到到别的账号，请致电 0591-26163340 核实或前往首页验证。<br>否则，公司概不负责。</p>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
{include file="../application/index/view/common/right.html" /}
{include file="../application/index/view/common/footer.html" /}